@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:wght@300&display=swap');

:root {
    user-select: none;
    color: #000029;

    --heading-font: "Amatic SC";
    --paragraph-font: "Roboto", Helvetica, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p, a {
    font-family: var(--paragraph-font);
    color: #000029;
    /* text-decoration: none; */
    /* Color Scheme: https://coolors.co/62c4f9-000029-ffebad-a7bc8a */
    /* UPdate */
}

body {
    font-size: 22px;
    margin: 0 auto;
    max-width: 1600px;
}

/* This is all for header */
header {
    background-color: #62C4F9;
    display: grid;
    grid-template-columns: 150px auto;
    /* border: 1px solid black; */
    /* width: 100%; */
}

nav {
    z-index: 1;
    display: inline-flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    /* position: fixed; */
    /* background: rgb(7, 157, 236);
    top: 0; */
}

nav a {
    text-align: center;
    /* color: rgb(7, 157, 236); */
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    /* background-color: yellow; */
    color: #FFEBAD;
    border-radius: 10px;
}

#nav-rev {
    border-radius: 10px;
}

/* End of header styles */

/* Footer Styles */
footer {
    background-color: #62C4F9;
    padding: 25px 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* justify-content: space-around; */
    align-items: center;
}

.foot1 {
    grid-column: 2/4;
    text-align: center;
}

.foot2 {
    grid-column: 1/3;
}

.foot3 {
    grid-column: 4/5;
    text-align: right;
}

.fot1 {
    width: 300px;
}

.social img {
    width: 50px;
}

footer a {
    color: purple;
    text-decoration: none;
    font-size: .8em;
}

footer p {
    font-size: 1.2em;
}

footer ul {
    list-style: none;
}

.foot-img {
    width: 200px;
    /* background-color: aqua; */
}
/* End of footer */



/* movies-list.js */

.container {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    /* background-color: #079DEC; */
}

.movie-cont {
    /* border: 1px solid black; */
    background-color: #62C4F9;
    /* width: 100%; */
    margin: 10px;
}

.img-card {
    width: 100%;
    /* border: 1px solid blue; */
}

.img-card img {
    width: 100%;
}

.in-card {
    margin: 10px;
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.in-card h2 {
    text-align: center;
    grid-column: 1/4;
}

.desc {
    grid-column: 1/4;
}

/* end of movies-list.js */

.logo {
    width: 100%;
}

.logo-card {
    position: relative;
    top: 10px;
    left: 10px;
    /* width: 150px; */
    /* border: 1px solid black; */
    /* margin-top: 16px; */
}

.hero-box img {
    width: 100%;
}

.news-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #62C4F9;
    /* height: 833px; */
    height: 100%;
}

.news-box img {
    width: 100%;
    height: 100%;
}

.nb-text {
    grid-column: 2/4;
    font-size: 18px;
    padding: 10px;
}

/* Positioning Bottom Left for Hero Image */
.hero-box {
    position: relative;
    text-align: center;
    color: #000029;
}

.hero-box h1 {
    position: absolute;
    top: 0px;
    left: 6px;
}

.prev {
    position: absolute;
    top: 50%;
    left: 10px;
}

.next {
    position: absolute;
    top: 50%;
    right: 10px;
}

/* end of positioning */

/* This is for the index buttons */
.btn {
    padding: 0;
    border: none;
    background: none;
}

.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
}

.arrow:hover {
    border: solid red;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/* end of index buttons */

/* This section is for the about.html */
.about-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.about-box h2 {
    grid-column: 2/3;
    /* text-align: center; */
    position: relative;
    top: 50px;
}

.about-box img {
    padding: 10px;
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
}

.about-box p {
    padding: 10px;
    grid-column: 2/4;

}

/* End of about.html */

/* Animated Text */

#slide-text
{
    /* text-transform: uppercase; */
    background-image: linear-gradient(
    -225deg,
    /* #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100% */
    #D8EFFD 0%,
    #000029 29%,
    #FFF5D6 67%,
    #D8E2CB 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    /* font-size: 190px; */
}

@keyframes textclip {
to {
    background-position: 200% center;
    }
}
/* End of animated text */

/* Go to top */
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* End of topBtn */

/* This is for the scrollbar */

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

/* End of scrollbar CSS */

/* cat-bus */
#cat-bus {
    width: 100px;
    /* float: right; */
    z-index: 0;
    position: relative;
    animation: moving-cat-bus linear 10s infinite;
    /* border: 1px solid black; */
    /* pointer-events: none; */
}

@keyframes moving-cat-bus {
    0%  {left:1448px; top:-118px;}
    100%  {left:-50px; top:-118px;}
    /* 50%  {transform: scaleY(-1) scaleX(-1); left:-50px; top:-992px;}
    100%  {transform: scaleY(-1) scaleX(-1); left:1448px; top:-992px;} */

    /* 100% {left:0px; top:-117px;} */
    /* 100%  {transform:scaleY(-1),rotate(90deg); left:0px; top:0px;} */
    /*
    50%  { left:1600px; top:200px;}
    75%  { left:0px; top:200px;}
    100% {left:0px; top:0px;} */
}

/* end of cat-bus */

/* Soot-sprite */
.main-soot {
    padding: 100px;
    text-align: center;
}

.soot {
    width: 500px;
    border-left: 10px solid black;
    border-radius: 10px;
    /* top: -100px;
    left: 1408px; */
}

/* end of Soot-sprite */

/* Responsive design */

@media only screen and (max-width: 600px) {
    /* Home */
    nav {
        flex-direction: column;
    }

    .news-box {
        /* grid-template-columns: 1fr; */
        grid-template-rows: 1fr 1fr;
    }

    .news-box a {
        grid-column: 1/4;
        /* height: 500px; */
    }

    .nb-text {
        grid-column: 1/4;
        grid-row: 2/3;
    }

    /* Films */
    .container {
        grid-template-columns: 1fr;
    }

    /* About */
    .about-box {
        grid-template-columns: 1fr;
    }

    .about-box img {
        display: none;
        width: 100px;
        grid-row: 1/2;
    }

    .about-box h2 {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .about-box p {
        grid-row: 3/4;
        grid-column: 1/4;
    }
    
    #cat-bus {
        display: none;
    }

    /* Footer */
    footer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .foot1 {
        grid-row: 1/2;
        grid-column: 1/5;
    }

    .foot2 {
        grid-row: 2/3;
        grid-column: 1/5;
    }

    .foot3 {
        grid-row: 3/4;
        grid-column: 1/5;
        text-align: center;
    }
}